*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url(img/f5.png);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: -10px;
    width: 100%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: 0px 0px 20px 5px black;
    z-index: 100;
}

.barra{
    display: flex;

    width: 80%;
    justify-content: space-between;
}

.barra h1{
    margin: 20px;
    font-size: 40px;
    letter-spacing: 6px;
    color: rgb(3, 89, 104);
    margin-top: 10px;
}

.barra ul{
    display: flex;
    width: 50%;
    margin: 20px;
    justify-content: space-evenly;
}

.barra li{
    font-weight: 800;
    margin-top: 15px;
}


/*INICIA PROGRAMACIÓN DE FAVORITOS*/
.pelicula1  {
    display: flex;
    flex-direction: column;
    background-color: rgba(6, 232, 240, 0.514);
    width: 1300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 10px rgb(1, 88, 88);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
}

.titulo {
    color: white;
    margin-right: 100px;
    margin-left: 900px;
    margin-top: -100px;
    
}
p{
    color: white;
    margin-right: 40px;
    margin-left: 40px;
}
.contenedor p{
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 900px;
    margin-right: 50px;
    margin-top: -380px;
    
}

iframe{
    margin-top: -600px;
    margin-left: 400px;
}



.pelicula1 li:hover{
    transform: scale(10px);
    cursor: pointer;
}

 img{
    margin-left: -600px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(2, 2, 2);
}



/*SEGUNDO BLOQUE*/
.pelicula2  {
    display: flex;
    flex-direction: column;
    background-color: rgba(6, 232, 240, 0.514);
    width: 1300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 10px rgb(1, 88, 88);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 110px;
    color: rgb(255, 255, 255);
}

.pelicula2 h1{
    justify-content: center;
    align-items: center;
    margin-left: 800px;
}

.pelicula2 li{
    display: inline-block;
    justify-content: center;
    align-items: center;

}

.pelicula2 li:hover{
    transform: scale(10px);
    cursor: pointer;
}



/*TERCER BLOQUE*/
.pelicula3  {
    display: flex;
    flex-direction: column;
    background-color: rgba(6, 232, 240, 0.514);
    width: 1300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 10px rgb(1, 88, 88);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 110px;
    color: rgb(255, 255, 255);
}

.pelicula3 h1{
    justify-content: center;
    align-items: center; 
}

.pelicula3 li{
    display: inline-block;
    justify-content: center;
    align-items: center;

  
}

.pelicula3 li:hover{
    transform: scale(10px);
    cursor: pointer;
}

/*CUARTO BLOQUE*/
.pelicula4  {
    display: flex;
    flex-direction: column;
    background-color: rgba(6, 232, 240, 0.514);
    width: 1300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 10px rgb(1, 88, 88);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 110px;
    color: rgb(255, 255, 255);
}

.pelicula4 h1{
    justify-content: center;
    align-items: center;
}

.pelicula4 li{
    display: inline-block;
    justify-content: center;
    align-items: center;

  
}

.pelicula4 li:hover{
    transform: scale(10px);
    cursor: pointer;
}
